:root {
	--primary: #0366d6;
	--gutterSmall: .5rem;
	--gutter: 1rem;
	--gutterLarge: 2rem;
	--corners: .3rem;

	--baseColour: #34495e;
	--linkColour: #2980b9;
	--linkVisited: #34495e;
}

body {
	background-color: #eaeff2;
	margin: var(--gutter);
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: var(--baseColour);
	line-height: 1.5;
}

a {
	position: relative;
	color: var(--linkColour);
	text-decoration: none;
}

a:hover::before {
	visibility: visible;
}

a::before {
	content: '';
	border-bottom: 1px dotted var(--linkColour);
	position: absolute;
	bottom: 0;
	width: 100%;
	visibility: hidden;
}

.app__container {
	background: white;
	padding: var(--gutterLarge);
	border-radius: var(--corners);
	max-width: 60rem;
	margin: 0 auto;
}